body {
    font-family: 'Roboto', sans-serif;
}


.navbar-black {
    background-color: black !important;
    color: white;
}
.custom-toggler {
    border-color: #FFA500;
}

.fa-bars{
    color: #FFA500;
}

.alert-container {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    color: #856404;
    background-color: #ffc107;
    border-color: #ffc107;
}


.nopadding {
    padding: 0;
}

.callout-container {
    height: 100vh;

    /*I took that from a web page called https://css-tricks.com/perfect-full-page-background-image/*/
    background: url('../images/whiskey.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;

}

.quotes-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
}

.quotes .page-header {
    margin-bottom: 25px;
}

blockquote.quote {
    border-left: 0;
}

.features-container {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
    background-color: red;
    color: white;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.features {
    margin: 50px 30px;
}

.favorites-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
      display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.lead {
    color: #FFA500;
    margin: 25px 0;
}

.jumbotron .text-muted {
    color: #f8f9fa !important;
}

small {
    font-size: 80%;
    font-weight: 400;
    font-style: italic !important;
}
